/* /src/components/ResetPasswordForm/ResetPasswordForm.module.css */
.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .inputField {
    margin-bottom: 8px;
  }
  